.wrapper {
    width: 420px;
    height: 270px;
    margin: 0 auto;
}

img {
    max-width: 420px;
    max-height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid pink;
}